<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>first</servlet-name>
  <servlet-class>web.FirstServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>second</servlet-name>
  <url-pattern>/second</url-pattern>
  </servlet-mapping>

    <servlet>
  <servlet-name>second</servlet-name>
  <servlet-class>web.SecondServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>first</servlet-name>
  <url-pattern>/first</url-pattern>
  </servlet-mapping>

   <servlet>
  <servlet-name>third</servlet-name>
  <servlet-class>web.ThirdServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>third</servlet-name>
  <url-pattern>/third</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>session1</servlet-name>
  <servlet-class>web.Session1Servlet</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>session1</servlet-name>
  <url-pattern>/session1</url-pattern>
  </servlet-mapping>

   <servlet>
  <servlet-name>session2</servlet-name>
  <servlet-class>web.Session2Servlet</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>session2</servlet-name>
  <url-pattern>/session2</url-pattern>
  </servlet-mapping>

   <servlet>
  <servlet-name>session3</servlet-name>
  <servlet-class>web.Session3Servlet</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>session3</servlet-name>
  <url-pattern>/session3</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>dispatch</servlet-name>
  <servlet-class>web.DispatchServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>dispatch</servlet-name>
  <url-pattern>/dispatch</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>useBean</servlet-name>
  <servlet-class>web.UseBeanServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>useBean</servlet-name>
  <url-pattern>/useBean</url-pattern>
  </servlet-mapping>
</web-app>